body{
  font-family: Volkhov;
}
.nav-item{
  list-style: none;
}
#about{
  text-decoration: none;
  color: #949494;
  transition: all 0.5s ease;
}
#about:hover{
  color: #4d4d4d;
}
#mapid{
 /* position: absolute;*/
  height: 80vh;
  width: 100%;
}

/* SIDEBAR */
#sidebar-content{
  color: #01265E;
  font-family: Poppins;
}
#sidebar-title{
  color: #01265E;
  font-family: Volkhov;
}
.sidebar-div{
  margin-bottom: 15px;
}
.sidebar-subtitle{
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 2px;
}
.sidebar-item{
  margin: 1px auto;
}
.sidebar-link{
  text-decoration: underline;
}
.sidebar-link:hover{
  cursor:pointer;
  color:red;
}
#about-tabs{
  margin-bottom: 15px;
}
/* END SIDEBAR */
/* TIMELINE */
#visualization {
  max-height: 40vh;
  width: 100%;
  border: 1px solid lightgray;
  z-index: 100000;

}
.vis-custom-time {
    background-color: #1b4c88;
}
.groupclass0{
  background-color:	rgb(114, 176, 38, 0.5);
}
.groupclass1{
  background-color: rgb(56, 170, 221, 0.5);
}
.groupclass2{
  background-color: rgb(214, 62, 42, 0.5);
}
.groupclass3{
  background-color: rgb(210, 82, 185, 0.5);
}
.groupclass0 .vis-item .vis-dot, .groupclass1 .vis-item .vis-dot, .groupclass2 .vis-item .vis-dot, .groupclass3 .vis-item .vis-dot{
  border-color:	#4d4d4d;
}
.vis-labelset .vis-label .fas{
  color: white;
}
.vis-time-axis .vis-text {
  font-size: 85%;
}
@media screen and (max-width: 525px) {
  .vis-time-axis .vis-text {
    font-size: 85%;
    writing-mode: vertical-lr;
  }
}
/* END TIMELINE */
/* reset button positioning */
@media screen and (max-width: 555px) {
  .leaflet-bottom .btn{
    transform: translate(0, -30%);
  }
}
@media screen and (max-width: 423px) {
  .leaflet-bottom .btn{
    transform: translate(0, -70%);
  }
}

